/*font-family: 'Vollkorn', serif;*/
/* Color Theme Swatches in Hex */
/*snowy white #F4EDED, pale grey blue #AFB8BA, soft ice green blue #879C9E, navy #283442, icy lilac #B1ACB8 */

body {
	background-color: #FFFFFF;
	display: block;
}
div{
	display: block;
	padding-top: 5px;
}
.container.main {
	min-height: 500px;
}
.container {
	padding: 3px;
	background-color: #FFFFFF;
}
.column {
	margin-top: 5rem;
}
#sidebar {
	padding-top,bottom: : 15px;
	background-color: #AFB8BA;
	color: #B1ACB8;
}
#navigation.bar{
	font-family: 'Vollkorn', serif;
	padding-right: 50px;
	padding-bottom: 10px;
	margin:0; 
    background-color: #322A21;
	color: #283442;
}
a {
	color: #283442;
	text-decoration: none;
	padding-right: 30px;
}
a:hover {
	background-color: #B1ACB8;
}
a:visited {
	color: #879C9E;
}
header {
	height: 100px;
	/*padding: 20px;*/
}

header, footer{
	text-align: center;
	background-color: #FFFFFF;
	color: #283442;
	width: 100%;
}
footer {
	max-height: none;
	background-color: #879C9E;
	font-weight: 400;
	color: #F4EDED;
	margin:0;
}
h1, p, img, ul {
	padding-left: 20px;
	padding-right: 20px;
	color: #283442;
	/*the padding keeps them from being so close to the container edges*/
}
h1{
	font-family:'Vollkorn', serif;
	padding: 10px 10px 0 10px;
	color: #283442;
	font-size: 36px;
}
p{
	font-family: 'Lato', sans-serif;
}
img {
	width: 80%;
	height: auto;
	/*important that height is always set to auto*/
}
